fastapi
uvicorn
python-multipart
jinja2
pillow
torch
torchvision
ultralytics
langchain
langchain-google-genai
langchain-chroma
python-dotenv
pydantic
chromadb
google-ai-generativelanguage
grpcio
grpcio-status
httpx
requests
numpy