fastapi
uvicorn
jinja2
pillow
torch==2.5.0
torchvision==0.22.0
ultralytics
python-multipart
python-dotenv
langchain
langchain-google-genai
langchain-community
langchainhub
langchain-chroma
chromadb



