fastapi
uvicorn
jinja2
python-multipart
pillow
transformers
datasets
langchain-chroma
python-dotenv
ultralytics==8.1.37
torch==2.2.1
langchain==0.1.16
chromadb==0.4.24
langchain-google-genai==0.0.7


