<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h2>Defected Product</h2>
    <div class="product">

        <h2>You have uploaded a defected image of {{class}}, Please upload another one to proceed.</h2>

    </div>
    <button><a href="http://127.0.0.1:8000/addProduct">Upload a new Product</a></button>
    <button><a href="http://127.0.0.1:8000/">See our Products</a></button>
    <button><a href="http://127.0.0.1:8000/chatbot">Chatbot</a></button>
    <button><a href="http://127.0.0.1:8000/return">Check return eligiblity</a></button>
</body>

</html>