<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header>
    <h1>🎵 FastAPI Music Store</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/addProduct">Add Product</a>
        <a href="/chatbot">Chatbot</a>
        <a href="/return">Return Check</a>
    </nav>
</header>

<body>
    <h2>Defected Product</h2>
    <div class="product">

        <h2>You have uploaded a defected image of {{class}}, Please upload another one to proceed.</h2>

    </div>

</body>

</html>