<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Product Gallery</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>FastAPI Music Store</h1>

    <button><a href="http://127.0.0.1:8000/addProduct">Upload a new Product</a></button>
    <button><a href="http://127.0.0.1:8000/chatbot">Chatbot</a></button>
    <button><a href="http://127.0.0.1:8000/return">Check return eligiblity</a></button>

    <h2>Our Products</h2>
    {% for product in products %}
    <div class="product">
        <img src="{{ product.image }}" alt="{{ product.class }}" />
        <div class="details">
            <h3>{{ product.class|capitalize }} (ID: {{ product.id }})</h3>
            <h4>Description:</h4>
            <p>{{ product.description }}</p>
            <h4>Features:</h4>
            <ul>
                {% for feature in product.features %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    {% endfor %}


</body>

</html>