<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Product Gallery</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header>
    <h1>🎵 FastAPI Music Store</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/addProduct">Add Product</a>
        <a href="/chatbot">Chatbot</a>
        <a href="/return">Return Check</a>
    </nav>
</header>

<body>

    <h2>Our Products</h2>
    {% for product in products %}
    <div class="product">
        <img src="{{ product.image }}" alt="{{ product.class }}" />
        <div class="details">
            <h3>{{ product.class|capitalize }} (ID: {{ product.id }})</h3>
            <h4>Description:</h4>
            <p>{{ product.description }}</p>
            <h4>Features:</h4>
            <ul>
                {% for feature in product.features %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
            <form action="/delete/{{ product.id }}" method="get"
                onsubmit="return confirm('Are you sure you want to delete this product?');">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>

    </div>
    {% endfor %}


</body>

</html>