<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Gallery</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<header>
    <h1>🎵 FastAPI Music Store</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/addProduct">Add Product</a>
        <a href="/chatbot">Chatbot</a>
        <a href="/return">Return Check</a>
    </nav>
</header>

<body>


    <h2>Upload Product for return</h2>

    <div class="upload-box">
        <form action="/returnStatus" method="post" enctype="multipart/form-data">
            <label for="file">Upload Image:</label>
            <input type="file" name="file" required><br><br>

            <label for="days">Enter Days from your Purchased date:</label>
            <input type="text" name="days" required><br><br>

            <button type="submit">Submit</button>
        </form>

    </div>


</body>

</html>