<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Gallery</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>FastAPI Music Store</h1>
    <h2>Upload Product for return</h2>

    <div class="upload-box">
        <form action="/returnStatus" method="post" enctype="multipart/form-data">
            <label for="file">Upload Image:</label>
            <input type="file" name="file" required><br><br>

            <label for="days">Enter Days from your Purchased date:</label>
            <input type="text" name="days" required><br><br>

            <button type="submit">Submit</button>
        </form>

    </div>
    <button><a href="http://127.0.0.1:8000/">See our Products</a></button>
    <button><a href="http://127.0.0.1:8000/chatbot">Chatbot</a></button>
    <button><a href="http://127.0.0.1:8000/addProduct">Add a new Product</a></button>

</body>

</html>