<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h2>Uploaded Product</h2>
    <div class="product">
        <img src="{{ product.image }}" alt="{{ product.class }}" />
        <div class="details">
            <h3>{{ product.class|capitalize }} (ID: {{ product.id }})</h3>
            <h4>Description:</h4>
            <p>{{ product.description }}</p>
            <h4>Features:</h4>
            <ul>
                {% for feature in product.features %}
                <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <button><a href="http://127.0.0.1:8000/addProduct">Upload a new Product</a></button>
    <button><a href="http://127.0.0.1:8000/">See our Products</a></button>
    <button><a href="http://127.0.0.1:8000/chatbot">Chatbot</a></button>
    <button><a href="http://127.0.0.1:8000/return">Check return eligiblity</a></button>





</body>

</html>